// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  font-family: Toy Train;
  font-size: 70px;
  font-weight: lighter;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 40px;
}

p {
  font-family: Helvetica;
  font-size: 30px;
}

body {
  background: #949494;
}

form {
  border-radius: 5px;
}
